:root {
    --sm:1em;
    --med:2em;
    --lg:3em;
}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin:0 auto;
    width: 100%;
}
body img {
    width: 50%;
    
}
.wolf {
    margin: auto;
    
    width: 40%;
}

