* {
	margin: 0;
	box-sizing: border-box;
	
}
body {
	background-color: rgb(88, 129, 218);
    margin: 0;
}

#flex {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
	max-width: 50%;
	margin: 0 auto;
	
}
li {
	
    height: 50px;
	margin:0;
	resize: none;
	background-color: white;
	list-style: none;
}
#btn {
	width: 200px;
	margin: auto;
}