
* {
    margin: 0;
    box-sizing: border-box;
}

body {


    background-color: #222;
    width: 1600px;
    height:900px;
    margin:auto;
    
    
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    
    margin:0 auto;
    
}
  img {
      width: 100%;
      padding: 0;
      margin:0 auto;
      object-fit: cover;
      
  }
  nav {
      position: fixed;
      top: 20px;
      left: 20px;
      padding: 10px;
      background-color: #222;
      width: auto;
      font-size: 1.25em;
      border-radius: 50%;
      
      
  }
  a {
      text-decoration:  none;
      color: white;
  }
  a:hover {
      color: rgba(53, 11, 87, 0.281);
  }